:root {
    --colorMap: #2a1e5c
}

.map {
    background-color: var(--colorMap);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    width: 100%;
    justify-content: center;
}

.map>div>p {
    padding: 10px;
    text-align: center;
    background-color: #ee4266;
    color: white;
    font-size: 20px;
}

.main {
    padding-top: 20px;
}