* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #E7F9A9;
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    /* padding: 5px; */
}

.column {
    width: 48%;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    height: 92vh;
    background-color: #C6B38E;
}

footer {
    background-color: #442F38;
    color: white;
    bottom: -8vh;
    position: sticky;
    height: 8vh;
    padding-left: 5px;
    padding-top: 20px;
    width: 100%;
}