:root {
    --color1: #ee4266;
    --color2: #2a1e5c;
    --color3: #0a0f0d;
    --color4: #c4cbca;
    --color5: #cbff8c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    margin-left: 20px;
    margin-left: 20px;
}

.main {
    background-color: var(--color2);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    min-height: 1vh;
    padding-bottom: 8vh;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: var(--color2);
}

nav {
    background-color: var(--color2);
    padding: 30px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    width: 200px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav a:hover {
    text-shadow: 2px 2px 2px var(--color4);
    transition-duration: 200ms;
}

nav a:active {
    color: var(--color1);
    text-shadow: 2px 2px 2px white;
    transition-duration: 100ms;
}

.section1 {
    height: 90vh;
    background-repeat: no-repeat;
    width: 80%;
    background-size: cover;
    display: block;
    margin: auto;
}

.section1 img {
    height: 90vh;
    width: 100%;
    z-index: 0;
}

.shadow {
    height: 90vh;
    width: 80%;
    display: block;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    z-index: 1;
}

h1 {
    text-align: center;
    padding: 20%;
    color: var(--color1);
    font-size: 100px;
}

.column {
    width: 40%;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 100vh;
    background-color: var(--color3);
}

.column1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.textBox {
    background-color: var(--color5);
    margin: 5px;
    padding: 15px;
    border: var(--color2) 2px solid;
}

footer {
    background-color: var(--color3);
    color: white;
    bottom: 0;
    position: fixed;
    height: 8vh;
    padding-left: 5px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    z-index: 2;
}